@model IEnumerable<Customer>
@{
    ViewData["Title"] = "Index";
}

<h1>Customer Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tfn)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tfn)
                </td>
                <td>
                    <a asp-action="View" asp-route-id="@item.CustomerID">View</a> |
                    <a asp-action="Edit" asp-route-id="@item.CustomerID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.CustomerID">Delete</a> |
                    <a asp-action="Lock" asp-route-id="@item.CustomerID">Lock</a>|
                    <a asp-action="Unlock" asp-route-id="@item.CustomerID">Unlock</a>
                </td>
            </tr>
        }
    </tbody>
</table>
