@*
    ///-----------------------------------------------------------------
    ///   Raji Rudhrakumar
    ///   Assignment-2 NWBA Web Application
    ///   Summer Semester 2020
    ///-----------------------------------------------------------------
*@

@model NwbaSystem.ViewModels.ProfileViewModel


@{
    ViewData["Title"] = "Edit1";
}
<div>
    <h3>Update Profile</h3>
    <form asp-action="Edit">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" value="@Model.Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Tfn" class="control-label"></label>
                <input asp-for="Tfn" class="form-control" value="@Model.Tfn" />
                <span asp-validation-for="Tfn" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="Phone">Phone</label>
                <input type="text" asp-for="Phone" class="form-control" value="@Model.Phone">
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Street" class="control-label"></label>
            <input asp-for="Street" class="form-control" value="@Model.Street" />
            <span asp-validation-for="Street" class="text-danger"></span>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" value="@Model.City" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="State">State</label>
                <select asp-for="State" class="form-control" value="@Model.State">
                    <option>NSW</option>
                    <option>QLD</option>
                    <option>SA</option>
                    <option>TAS</option>
                    <option selected>VIC</option>
                    <option>WA</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="PostCode">PostCode</label>
                <input type="text" asp-for="PostCode" class="form-control" value="@Model.PostCode">
                <span asp-validation-for="PostCode" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Save Changes" class="btn btn-primary" />
        </div>
        <div>
            <a asp-action="Index">Back to Profile</a>
        </div>
    </form>

</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
