@*
    ///-----------------------------------------------------------------
    ///   Raji Rudhrakumar
    ///   Assignment-2 NWBA Web Application
    ///   Summer Semester 2020
    ///   Adapted from Tute lab and modified to suit the requirement
    ///-----------------------------------------------------------------
*@

@*reference:
http://www.intstrings.com/ramivemula/articles/display-session-expire-popup-in-asp-net-mvc/
*@

@using Microsoft.AspNetCore.Http



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NWBA - ATM </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
</head>

<body>
    @await Html.PartialAsync("_HeaderNavBar")

    <div class="container">

        @*<main role="main" class="pb-3">*@
        @RenderBody()
        @*</main>*@
    </div>
    @await Html.PartialAsync("_Footer")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

   
    <script>    </script>
    @RenderSection("Scripts", required: false)

@* <link href="~/Content/timeout-dialog.css" rel="stylesheet" /> *@
@* <script src="~/Scripts/timeout-dialog.js"></script> *@
@* <script> *@
@*         $(function () { *@
@*             var fnTimeOut = function () { *@
@*                 jQuery.timeoutDialog.setupDialogTimer({ *@
@*                     timeout: 105, *@
@*                     countdown: 100, *@
@*                     logout_redirect_url: '@Url.Action("Logout", "Login")', *@
@*                     keep_alive_url: '@Url.Action("Keepalive", "Login")' *@
@*                }); *@
@*             }; *@
@*             fnTimeOut(); *@
@*         }); *@
@*     </script> *@

</body>
</html>
