@model NwbaSystem.ViewModels.TransactionViewModel
@{
    ViewData["Title"] = "Execute";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*method Result() of CustomerController returns this page*@

<h1>Success</h1>

<ul>
    <li><strong>Transaction:</strong> @Model.TransactionType
    </li>
    <li>
        <strong>From Account:</strong> @Model.FromAccount
</li>
    <li>
        <strong>To Account:</strong> @Model.DestinationAccountNumber
</li>
    <li>
        <strong>Amount:</strong> @Model.Amount
</li>
    <li><strong>Comment:</strong> @Model.Comment
   </li>
</ul>


<div class="form-group" style="padding-bottom: 20px; padding-top: 20px; margin-bottom: 20px">
    <input type="button" value="Go back" onclick="history.back()" class="btn btn-primary" />
</div> 